:host {
    width: 100%;
    display: block;
}

h1 {
    font-family: monospace;
    font-size: 1em;
    text-align: center;
}

section {
    margin: 1em;
    width: auto;
    min-height: 70vh;
    border: 1px black solid;
}

