:host {
  width: 100%;
  display: block;
}

main {
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
    display: block;
  }

main img {
  max-height: 48px;
}

